html, body {
    height: 100%;
    background: url("../images/friendsphoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

.landing-pg {
    padding-top: 2rem;
}

.title {
    font-size: 3rem;
    border-bottom: 2px solid #5b5f68;
}

.survey-btn-div {
    margin: 1rem 0;
}

.survey-btn {
    color: #fff2e8;
}

.nav, a:link {
    color: black;
}

.card {
    margin-bottom: 1rem;
}

.txtbox {
    margin-bottom: 0.5rem;
}

.survey-title {
    font-size: 3rem;
}

.card {
    opacity: 0.85;
}

select, p {
    margin-bottom: 0.5rem;
}


.nav-ques-view {
    color: white;
}

.ques-links:link {
    color: white;
}

.sticky-footer {
    flex-shrink: 0;
    background: none;
    text-align: center;
    font-size: 0.65rem;
    color: white;
}